<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
var old_loaded = false;
window.onload = function() {
        old_loaded = true;
}
</script>

<%= image_tag "http://1.bp.blogspot.com/-nnBj53uyYc0/Tgjg8_vYbmI/AAAAAAAAEXE/Dj30p9mUUWQ/s1600/tumblr_lnbzcxL4Dm1qf970io1_500.jpg" %>
Some text for loading purposes

<div style="height:1600px;background-color:#a73d22;">
  <% if params[:async] == "true" %>
          <script type="text/javascript">
              (function() {
                  var config_id = <%= params[:config_id]||185 %>;
                  var s = document.createElement('script');
                  s.type = 'text/javascript';
                  s.async = true;
                  s.id = 'shareandtell_script_1';
                  s.src = 'http://<%=
                  case params[:server]
                  when "local"
                  "widget.getsmartifydev.com:3000"
                  when "live"
                  "widget.getsmartify.com"
                  else
                  "widget.getsmartifystaging.com"
                  end
                  %>/widget/shareandtell_widget.js?config_id='+config_id<%= "+'&display_all=#{params[:display_all]}'" unless params[:display_all].nil? %>;
                  var x = document.getElementsByTagName('body')[0].appendChild(s);
              })();
          </script>
  <% else %>
          <% if params[:server] == "local" %>
                  <script type="text/javascript" src="http://widget.getsmartifydev.com:3000/widget/shareandtell_widget.js?config_id=<%= params[:config_id]||185 %><%= "&display_all=#{params[:display_all]}" unless params[:display_all].nil? %>" id="shareandtell_script_1"></script>
          <% elsif params[:server] == "live" %>
                  <script type="text/javascript" src="http://widget.getsmartify.com/widget/shareandtell_widget.js?config_id=<%= params[:config_id]||185 %><%= "&display_all=#{params[:display_all]}" unless params[:display_all].nil? %>" id="shareandtell_script_1"></script>
          <% else %>
                  <script type="text/javascript" src="http://widget.getsmartifystaging.com/widget/shareandtell_widget.js?config_id=<%= params[:config_id]||185 %><%= "&display_all=#{params[:display_all]}" unless params[:display_all].nil? %>" id="shareandtell_script_1"></script>
          <% end %>
  <% end %>
</div>
